header.region.region-sticky {
  display: none;
}

body {
  padding-top: 0 !important;
}

.media-library-item__preview {
  padding-bottom: 0 !important;
  max-height: 250px;
}

.blazy img {
  position: relative !important;
}