#drupal-lbim-modal {
  padding: 0;
}

.lbim-dialog {
  height: 100%;
  width: 100%;
}

.lbim-dialog-iframe {
  border: 0;
  width: 100%;
  height: 100%;
}

header.region.region-sticky {
  display: none;
}